*, *::before, *::after {
  box-sizing: border-box;
}

header, main, footer {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 196px auto 350px;
  grid-template-rows: auto;
  align-items: center;
}

.flex {
  display: flex;
}

/* Navbar */
.main-header {
  background-color: #666;
}

.navbar {
  width: 100%;
  height: 104px;
  align-items: center;
}

.navbar ul {
  width: 100%;
  justify-content: space-evenly;
}

.nav-logo {
  width: 196px;
}

.nav-input {
  width: 350px;
  height: 57px;
}

/* Main Articles Section*/


/* Menbership Banner */
.membership-banner {
  width:307px;
}

/* Latest Articles Section */
.shopify-ad img {
  width: 175px;
}

.smashing-ads img {
  width: 245px;
}

.click-book-ad img {
  width: 920px;
}

/* Community Links Section */
.person-of-the-week img {
  width: 256px;
}

.community-links img {
  width: 80px;
}

/* Design Book Ad */
.design-book-ad img {
  width: 310px;
}

/* Newsletter Ad */
.newsletter-ad img {
  width: 620px;
}

/* Footer */

footer img {
  width: 245px;
}